.Forecast {
  margin: 40px 0;
  text-align: center;
}

.temperature-forecast-day,
.temperature-forecast-night {
  font-size: 18px;
}

.temperature-forecast-night {
  opacity: 0.6;
}

.degree {
  color: #3758cb;
  font-weight: 500;
  font-size: 18px;
}
