.heading {
  padding-left: 60px;
  line-height: 1.5;
  font-weight: 500;
  font-size: 25px;
  margin: 0;
}

.heading-text {
  font-family: "Dancing Script", cursive;
  line-height: 1.5;
  letter-spacing: 0.07em;
  font-weight: 500;
  font-size: 30px;
}

.main-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feels-like-box {
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.07em;
  padding-top: 10px;
}

.degree-color {
  color: #3758cb;
  font-weight: 500;
  font-size: 18px;
}

.description-box {
  align-items: center;
  justify-content: center;
  padding-right: 150px;
  font-size: 22px;
}

.weather-menu {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.main-heading {
  font-family: "Dancing Script", cursive;
  margin: 0;
}
